
@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model siddhartha_24_11_19.Models.Student
@{
    /**/

    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listItems = new List<SelectListItem> {
        new SelectListItem { Text = "Government Employee", Value = "Government Employee" },
        new SelectListItem { Text = "Government Undertaking", Value = "Government Undertaking" },
         new SelectListItem { Text = "Self Employed", Value = "Self Employed" },
          new SelectListItem { Text = "Others", Value = "Others" }
    };
    var category = new List<SelectListItem> {
        new SelectListItem { Text = "General", Value = "General" },
        new SelectListItem { Text = "OBC", Value = "OBC" },
        new SelectListItem { Text = "SC", Value = "SC" },
        new SelectListItem { Text = "ST", Value = "ST" },

    };
}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Student</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Student</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i>Update Student</button>
            </div>
        </div>
    </div>
@using (Html.BeginForm("StudentForm", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row upp2">
        <!-- Column -->

        <div class="col-lg-3 col-xlg-3 col-md-3">
            <div class="card">
                <div class="card-body profilecard">
                    <center class="m-t-30">
                        <img src="~/assets/images/users/deafult.png" class="img-circle" id="profImg" width="150" />
                        <h4 class="card-title m-t-10">Student Profile Pic </h4>
                        <!--    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6> -->
                        <div class="row text-center justify-content-md-center">
                            <div class="upload-btn-wrapper">
                                <button class="btn upld">Upload a new file</button>
                                <input type="file" id="StudentPic" name="StudentPic" />
                            </div>
                        </div>

                    </center>
                </div>
            </div>
            <div class="card">
                <div class="card-body profilecard">
                    <center class="m-t-30">
                        <img src="~/assets/images/icon/sign.png" class="img-circle" id="profImg" width="150" />
                        <h4 class="card-title m-t-10">Student Sign Pic </h4>
                        <!--    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6> -->
                        <div class="row text-center justify-content-md-center">
                            <div class="upload-btn-wrapper">
                                <button class="btn upld">Upload a new file</button>
                                <input type="file" id="SignofStudent" name="SignofStudent" />
                            </div>
                        </div>

                    </center>
                </div>
            </div>
            <div class="card">
                <div class="card-body profilecard">
                    <center class="m-t-30">
                        <img src="~/assets/images/icon/fingerprint.jpg" class="img-circle" id="profImg" width="150" />
                        <h4 class="card-title m-t-10">Student Thumb Pic </h4>
                        <!--    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6> -->
                        <div class="row text-center justify-content-md-center">
                            <div class="upload-btn-wrapper">
                                <button class="btn upld">Upload a new file</button>
                                <input type="file" id="ThumbofStudent" name="ThumbofStudent" />
                            </div>
                        </div>

                    </center>
                </div>
            </div>
            <div class="card">
                <div class="card-body profilecard">
                    <center class="m-t-30">
                        <img src="~/assets/images/icon/sign.png" class="img-circle" id="profImg" width="150" />
                        <h4 class="card-title m-t-10">CEO Sign Pic </h4>
                        <!--    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6> -->
                        <div class="row text-center justify-content-md-center">
                            <div class="upload-btn-wrapper">
                                <button class="btn upld">Upload a new file</button>
                                <input type="file" id="CEOofSign" name="CEOofSign" />
                            </div>
                        </div>

                    </center>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-9 col-xlg-9 col-md-10">
            <div class="card">
                <!-- Nav tabs -->
                <!-- Tab panes -->
                <div class="tab-content">

                    <div class="tab-pane active" id="settings" role="tabpanel">

                        <div class="col-12">
                            <div class="row">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title"> Student Details : </h4>
                                        <form id="staffReg" method="post">
                                            <div class="form-row">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault01">Application No. </label>
                                                    @Html.EditorFor(model => model.ApplicationNo, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " ApplicationNo. ", @required = "" } })


                                                </div>

                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault01">Branch Code</label>
                                                    @Html.EditorFor(model => model.BranchCode, new { htmlAttributes = new { @class = "form-control", @readonly = "", @type = "text", @placeholder = @ViewBag.BranchCode, @required = "" } })

                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault01">Date of Joining</label>
                                                    @Html.EditorFor(model => model.DateofJoining, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Date of Joining ", @required = "" } })

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="validationDefaultUsername">Student Name</label>
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Student Name", @required = "" } })
                                                        @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="validationDefaultUsername">Father  Name</label>
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Father Name ", @required = "" } })
                                                        @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="validationDefaultUsername">Mother Name</label>
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Mother Name ", @required = "" } })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault03">Occupation</label>

                                                    @Html.DropDownListFor(model => model.Occupation,
                    listItems,
                    "--SELECT Occupation--",
                    new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault04">Category</label>
                                                    @Html.DropDownListFor(model => model.Category,
                     category
                     ,
                     "--SELECT CATEGORY--",
                     new { @class = "form-control" })

                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault05">Caste</label>
                                                    @Html.EditorFor(model => model.Caste, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Caste ", @required = "" } })

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault04">Contact No. 1</label>
                                                    @Html.EditorFor(model => model.ConactNo1, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Contact No. ", @required = "" } })

                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault04">Contact No 2</label>
                                                    @Html.EditorFor(model => model.ConactNo2, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Contact No. ", @required = "" } })

                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault05">Contact No 3</label>
                                                    @Html.EditorFor(model => model.ConactNo3, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Contact No.", @required = "" } })

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefaultUsername">Email Address</label>
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = " Enter Email Address ", @required = "" } })

                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefaultUsername">Gender</label>
                                                    <div class="input-group">

                                                        <select class="custom-select" name="gender" required>
                                                            <option value="--">--Select Gender--</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Female">Female</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12 mb-3">
                                                    <label for="validationDefaultUsername">Address</label>
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Address. ", @required = "" } })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault04">Pincode </label>
                                                    @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Pincode ", @required = "" } })

                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault04">Religion</label>
                                                    @Html.EditorFor(model => model.Religion, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Religion ", @required = "" } })

                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault05">Passing Years</label>
                                                    @Html.EditorFor(model => model.PassingYears, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Passing Years", @required = "" } })

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefault01">Date of Birth</label>
                                                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @type = "date", @placeholder = "Enter Date of Birth ", @required = "" } })

                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefault01">Marital Status</label>
                                                    <select class="custom-select" name="gender" required>
                                                        <option value="--">--SELECT Marital Status--</option>
                                                        <option value="Male">Married</option>
                                                        <option value="Female">Unmarried</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefault01">Last Qualification</label>
                                                    @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Qualification ", @required = "" } })
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefault01">Marks</label>
                                                    @Html.EditorFor(model => model.Marks, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Enter Total Marks ", @required = "" } })
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault01">Course Applied For : </label>
                                                    @Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Course Here ", @required = "" } })
                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault01"> Batch Time :</label>
                                                    @Html.EditorFor(model => model.BatchTime, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Batch Time ", @required = "" } })

                                                </div>
                                                <div class="col-md-4 mb-3">
                                                    <label for="validationDefault01">Remarks :</label>
                                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Remarks ", @required = "" } })

                                                </div>

                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefault01">Aahaar Card No.</label>
                                                    @Html.EditorFor(model => model.AadhaarCardNo, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Aadhaar Card No. ", @required = "" } })


                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefault01"> Month of Exam</label>
                                                    @Html.EditorFor(model => model.MonthofExam, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Month of Exam ", @required = "" } })

                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="validationDefault01"> Total Fees : </label>
                                                    @Html.EditorFor(model => model.TotalFees, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = " Enter Total Fees ", @required = "" } })
                                                </div>
                                                <div class="col-md-2 mb-6">
                                                    <div class="custom-control custom-checkbox mr-sm-10">
                                                        @Html.CheckBoxFor(model => model.isIssueBag, new { htmlAttributes = new { @class = "custom-control-input" } })

                                                        <label class="custom-control-label" for="checkbox12">Bags</label><br />

                                                        @Html.CheckBoxFor(model => model.isIssueBooks, new { htmlAttributes = new { @class = "custom-control-input" } })
                                                        <label class="custom-control-label" for="checkbox13">Books</label><br />

                                                        @Html.CheckBoxFor(model => model.isIssueICard, new { htmlAttributes = new { @class = "custom-control-input" } })
                                                        <label class="custom-control-label" for="checkbox14">I-Card</label>

                                                    </div>
                                                </div>
                                                <div class="col-md-2 mb-6">
                                                    <div class="custom-control  mr-sm-10">
                                                        @Html.RadioButtonFor(model => model.Status, "Active", new { htmlAttributes = new { @class = " ", @type = "radio", id = "checkbox12" } })
                                                        @*<input type="checkbox" class="custom-control-input" id="checkbox12" value="check">*@
                                                        <label class="custom-control-label" for="checkbox12">Active</label><br />
                                                        @Html.RadioButtonFor(model => model.Status, "Active", new { htmlAttributes = new { @class = "custom-control-input" } })
                                                        @*<input type="checkbox" class="custom-control-input" id="checkbox13" value="check">
                                                            <label class="custom-control-label" for="checkbox13">Deactive</label><br />*@


                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- Column -->
    </div>
}
<!------------------>
@if (ViewBag.result == "yes")
{
    <script type="text/javascript">
        $(function () {
            "use strict"
            $.toast({
                heading: 'Staff Added Successfully '
                , text: 'Use the predefined ones, or specify a custom position object.'
                , position: 'top-right'
                , loaderBg: '#ff6849'
                , icon: 'info'
                , hideAfter: 3500
                , stack: 6
            });
        });
    </script>
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#upldImage').change(function () {
                readURL(this);
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#profImg').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        });
    </script>
}


